html{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    background-image: url(pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.mainDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
width: 60%;
}

.sliderImg{
height: 21rem;
width: 25rem;
}

.slideButton{
  border: 0;
  background-color: white;
}

.butDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:2rem;
    width: 4rem;
    position: relative;
    background-color: white;
    top: -2rem;
    border-radius: 1.25rem;
}

.paragraphNamePosition{
    z-index: 1;
    position: relative;
    left: 4rem;
}

.bio{
    font-size: 1.4rem;
    font-weight: 300;
}